<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Customer</th>
        <th>Description</th>
        <th>Status</th>
        <th>Closing Date/Probability</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= deal.customer %></td>
        <td><%= deal.description %></td>
        <td><%= deal.status %></td>
        <td><%= deal.closing_date_probability %></td>
        <td><%= deal.value %></td>
        <td>Edit | Destroy | Won | Lost</td>
      </tr>
    </tbody>
  </table>
</div>
