<%= form_for(@deal) do |f| %>
  <div>
    <%= f.label :customer, 'Customer:' %>
    <%= f.text_field :customer %>
  </div>
  <div>
    <%= f.label :description, 'Description:' %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :closing_date_probability, 'Closing Date / Probability' %>
    <%= f.text_field :closing_date_probability %>
  </div>
  <div>
    <%= f.label :value, 'Value:' %>
    <%= f.text_field :value %>
  </div>
  <%= f.submit %>
<% end %>
