<h3>+ Deals:</h3>

<div>
  <%= render 'form' %>
</div>
<br>
<div>
  <%= render 'modal_pipedrive' %>
</div>

<div>
  Current Deals: <%= @last_deal.nil? ? '' : @last_deal.value %>
</div>

<div class="">
  <%= form_tag(search_deals_path, method: 'get', class: 'form-inline my-2 my-lg-0' ) do %>
    <%= text_field_tag(:q, params[:q], { class: 'form-control mr-sm-2' }) %>
    <%= submit_tag('Search', class: 'btn btn-outline-success my-2 my-sm-0') %>
  <% end %>
</div>

<div class="">
  <%= render partial: 'table', locals: { deal: @deals } %>
</div>
